.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  width: 100%;
}

nav {
  background-color: rgb(177, 219, 247);
  padding: 2%;
}

a {
  text-decoration: none;
  color: black;
  padding: 3%;
  margin-top: 20%;
}

.header {
   padding: 5%;
}

.header img {
  width: 30%;
}

.header p {
  line-height: 2;
}

input {
  margin: 15px auto;
  padding: 1% 2% 1% 2%;
  display: flex;
  flex-direction: column;
}

.login-p {
  margin-top: 10%;
}

.update-div {
  margin-bottom: 5%;
}

.home-signup {
  padding-top: -10%;
}

button {
  padding: 1% 6.5% 1% 6.5%;
  background-color: turquoise;
  border-color: white;
  border-radius: 50px 120px 130px 145px;
}

.h-signup {
  margin-top: 10%;
}

.h-update-profile {
  margin-top: 10%;
}

.h-add-plant {
  margin-top: 10%;
}

.profile-card {
  border: 2px solid black;
  margin: 1% 40% 3% 40%;
  padding: 1% 1% 0.35% 0;
}

.update-user {
  margin-right: 85%;
  padding: 2% 5% 2% 5%;
  background-color: turquoise;
}

.delete {
  margin: -5.5% -5.5% 0 80%;
  padding: 2% 2% 2% 1%;
  background-color: rgb(146, 197, 245);
}

