.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  width: 100%;
}

.header-logo {
  border: 2px solid black;
  border-radius: 50px 50px 145px 145px;
  padding: 0 2% 0 2%;
}

nav {
  background-color: #42a5f5;
  padding: 1% 1% 1% 25%;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color:white;
  padding: 2.5%;
}

.header {
   padding: 5%;
}

.header img {
  width: 30%;
}

.header p {
  line-height: 2;
}

input {
  margin: 15px auto;
  padding: 1% 2% 1% 2%;
  display: flex;
  flex-direction: column;
}

.login-p {
  margin-top: 10%;
}

.update-div {
  margin-bottom: 5%;
}

.home-signup {
  padding-top: -10%;
}

button {
  padding: 1% 6.5% 1% 6.5%;
  background-color: turquoise;
  border-color: white;
  border-radius: 50px 50px 145px 145px;
}

.h-signup {
  margin-top: 10%;
}

.h-update-profile {
  margin-top: 10%;
}

.h-add-plant {
  margin-top: 10%;
}

.profile-card {
  border: 2px solid rgb(146, 197, 245);
  margin: 2% 20% 3% 20%;
  padding: 2% 2% 4.5% 2%;
}

.update-user {
  border-radius: 40px;
  margin-right: 100%;
  padding: 2% 5% 2% 5%;
  background-color: turquoise;
}

.delete {
  margin: -5.5% -3% -10% 80%;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
  background-color: rgb(146, 197, 245);
}

